.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  padding: 20px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
