.movie-detail {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

/* Image */
.movie-detail img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Lien retour */
.back-link {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: bold;
}

/* Couleur automatique selon thème */
[data-theme="light"] .movie-detail {
  color: #111;
}

[data-theme="dark"] .movie-detail {
  color: #f1f1f1;
}
